/* <<<<<<<<<<<<<<<<< input box begins here */

.input-wrapper {
  display: flex;
  justify-content: center;
}

.input-combo {
  position: relative;
  display: flex;
}

#email-input {
  width: 80vw;
  background: white;
  border-radius: 42px;
  border: 1px solid #fe3780;
  z-index: 999;
  color: black;
  font-size: 15px;
  height: 40px;
  padding-left: 20px;
}

#email-input:focus {
  outline: none;
}

.submit-email {
  background: #fe3780;
  border-radius: 0 42px 42px 0;
  border: 1px solid #fe3780;
  z-index: 999;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 13px;
  height: 44px;
  width: 25%;
  line-height: 42px;
}

input::-webkit-input-placeholder {
  color: black;
  font-size: 12.5px;
}

input:focus::-webkit-input-placeholder {
  color: black;
  font-size: 12.5px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
  font-size: 12.5px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
  font-size: 12.5px;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
  font-size: 12.5px;
}

/* #email-input:focus + .underline {
  transform: scale(1);
} */

/* .underline {
  background-color: white;
  display: inline-block;
  height: 2px;
  position: absolute;
  left: 23px;
  bottom: 8px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 180px;
  z-index: 999;
} */

/* <<<<<<<<<<<<<<<<< ends here */
