@font-face {
  font-family: Averta-Semibold;
  src: url("./assets/fonts/TW-Averta-Semibold.ttf");
}

@font-face {
  font-family: Averta-Regular;
  src: url("./assets/fonts/TW-Averta-Regular.ttf");
}

html,
body {
  background: #ffffff;
  margin: 0;
  font-family: Averta-Regular, Helvetica, sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.footer {
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 25px;
  text-align: center;
  font-size: 12px;
}

h1,
h2 {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 23px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.05);
}

.logo-group img {
  width: 120px;
}

.email-icon {
  padding-top: 8px;
}

.email-icon:hover {
 cursor: pointer;
}

.email-icon img {
  height: 18px;
}

.main,
.sub {
  position: relative;
  padding: 35px 23px;
}

h1 {
  font-family: Averta-Semibold;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 110px;
}

h2 {
  font-family: Averta-Semibold;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* max-width: 90%; */
  font-size: 27px;
  padding-left: 6.6px;
}

h3 {
  font-family: Averta-Semibold;
  max-width: 80%;
  padding-left: 1%;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 39.38px;
}

p {
  max-width: 80%;
  padding-left: 1%;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}

.hero {
  height: 100vw;
}

.hero-img {
  position: absolute;
}

@media (max-width: 767px) {
  .hero-img {
    width: 100%;
    right: 0;
    margin-left: -23px;
  }
}

@media (min-width: 768px) {
  html,
  body {
    height: 100vh;
    /* overflow: hidden; */
  }

  .main {
    height: auto;
    padding-top: 5%;
    padding-left: 50px;
  }

  hr {
    display: none;
  }

  .hero {
    height: 0px;
  }

  .hero-img {
    bottom: 0;
    right: 0;
    margin-top: -50px;
    width: 50%;
  }

  .sub {
    padding-top: 0;
  }

  .input-wrapper {
    padding-left: 48px;
    width: 38vw;
    display: block;
  }

  #email-input {
    width: 35vw;
  }

  #email-input:focus {
    border:3px solid #fe3780;
    height:35px;

  }

  h1 {
    font-size: 13vw;
  }

  h2 {
    font-size: 3vw;
  }

  h3 {
    padding-left: 27px;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 39.38px;
  }

  p {
    max-width: 43%;
    padding-left: 27px;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
  }

  .footer {
    padding-left: 53px;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
}

@media (min-width: 1024px) {

  .main {
    padding-top: 50px;
  }

  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: 2vw;
  }

  h3 {
    padding-left: 33px;
  }

  p {
    padding-left: 33px;
  }

  .hero-img {
    bottom: 0;
    right: 0;
    margin-top: -50px;
    width: 40%;
  }
}

/* ---------------------- ignore below for now */

@media (min-width: 1440px) {


  /* .main {
    padding-top: 50px;
  }

  .hero-img {
    left: 60%;
    width: 40%;
  } */
}

@media (min-width: 1745px) {
  /* .main {
    padding-top: 120px;
  }

  .hero-img {
    width: 42%;
  }

  .input-wrapper {
    position: relative;
    top: 50px;
  } */
}
